* {
   box-sizing: border-box;
}

.App {
   font-family: sans-serif;
   text-align: center;
   /* display: flex; */
}
.underline {
   width: 10%;
   margin: auto;
   border-bottom: 5px solid #c59d5f;
}

.container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: space-between;
   grid-gap: 70px;
   width: 80%;
   margin: 10px auto;
}

.btn-container {
   display: flex;
   justify-content: center;
}
.btn button {
   padding: 10px 10px;
   background-color: transparent;
   border: none;
   text-transform: capitalize;
   font-size: 16px;
   color: #c59d5f;
}
button:hover {
   background-color: #c59d5f;
   color: white;
}
.btn {
   margin: 5px 10px;
}
section {
   margin: 35px auto;
}

article {
   display: flex;
   justify-content: center;
}
hr {
   width: 90%;
}
img {
   width: 260px;
   height: 200px;
   object-fit: cover;
   border: 4px solid #c59d5f;
}
.item div {
   display: inline;
   line-height: 2;
}
.item p {
   padding: 10px 20px;
   text-align: left;
   color: hsl(209, 28%, 39%);
}
.title {
   font-size: 20px;
   text-transform: capitalize;
   font-weight: 900;
   float: left;
   margin-left: 25px;
}
.price {
   float: right;
   font-size: 20px;
   color: #c59d5f;
   margin-right: 25px;
}
@media(max-width:768px){
   .container {
      display: block;
   }
   
}
